In [747]:
#Import modules required
import pandas as pd
import numpy as np

In [748]:
#Import CSV file
sharks = pd.read_csv('GSAF5-messy.csv', engine='python')

In [749]:
#Copy original dataframe
sharks_copy = sharks.copy()

# OVERALL DATAFRAME EVALUATION

In [750]:
sharks_copy.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [751]:
#Look at shape of the dataframe
sharks_copy.shape
#5992 rows, 24 columns

(5992, 24)

In [752]:
#Look at dataframe column names
sharks_copy.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [753]:
"""
We can see that the 'Species' and 'Sex' column names need to have a trailing whitespace removed, 
so we strip all column names of leading and trailing whitespaces
"""
sharks_copy.columns = sharks_copy.columns.str.rstrip()
#Remove all instances of ':' in column names
sharks_copy.columns = sharks_copy.columns.str.replace(':', '')
#The column 'Fatal (Y/N)' should be renamed to 'Fatal'
sharks_copy.rename(columns={'Fatal (Y/N)': 'Fatal'}, inplace=True)
#Replace all whitespaces with '_'
sharks_copy.columns = sharks_copy.columns.str.replace(' ', '_')
#Replace all instances of '.' with '_'
sharks_copy.columns = sharks_copy.columns.str.replace('.', '_')

In [754]:
#Check changes have been made correctly
sharks_copy.columns

Index(['Case_Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Investigator_or_Source', 'pdf', 'href_formula', 'href',
       'Case_Number_1', 'Case_Number_2', 'original_order', 'Unnamed_22',
       'Unnamed_23'],
      dtype='object')

In [755]:
#Checking data types of columns
sharks_copy.dtypes
#'Age' could be changed to int64, and 'Date' could be changed to datetime64.

Case_Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal                     object
Time                      object
Species                   object
Investigator_or_Source    object
pdf                       object
href_formula              object
href                      object
Case_Number_1             object
Case_Number_2             object
original_order             int64
Unnamed_22                object
Unnamed_23                object
dtype: object

In [756]:
#Look at which columns don't have null values
null_count = sharks_copy.isna().sum()
full_cols = null_count[null_count == 0]
full_cols

Case_Number       0
Date              0
Year              0
Type              0
pdf               0
Case_Number_1     0
Case_Number_2     0
original_order    0
dtype: int64

In [757]:
#Look at which columns do have null values
null_cols = null_count[null_count > 0]
null_cols

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal                       19
Time                      3213
Species                   2934
Investigator_or_Source      15
href_formula                 1
href                         3
Unnamed_22                5991
Unnamed_23                5990
dtype: int64

In [758]:
#Look at missing values as a percentage of total rows
null_cols[null_cols.gt(0)]/len(sharks_copy)

Country                   0.007176
Area                      0.067089
Location                  0.082777
Activity                  0.087951
Name                      0.033378
Sex                       0.094626
Age                       0.447430
Injury                    0.004506
Fatal                     0.003171
Time                      0.536215
Species                   0.489653
Investigator_or_Source    0.002503
href_formula              0.000167
href                      0.000501
Unnamed_22                0.999833
Unnamed_23                0.999666
dtype: float64

In [759]:
#Drop columns with more than 50% null values
drop_cols = list(null_cols[(null_cols/len(sharks_copy)) > 0.50].index)
sharks_copy = sharks_copy.drop(drop_cols, axis=1)
"""The 'Age' and 'Species' columns also have a high percentage of null values in comparison to the rest of the data frame, 
so could maybe also be deleted?"""

In [760]:
#Check for columns with low variance
low_variance = []
 
for col in sharks_copy._get_numeric_data():
    minimum = min(sharks_copy[col])
    ninety_perc = np.percentile(sharks_copy[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)
 
print(low_variance)
#The results shows that none of our columns have low variance

[]

# INDIVIDUAL COLUMN EVALUATION

# Case_Number

In [761]:
len(sharks_copy['Case_Number'].unique())
#This shows that the values in the column are not all unique

5976

In [762]:
sharks_copy['Case_Number'].value_counts().head(16)
#This shows the values that are duplicated

2012.09.02.b      2
1913.08.27.R      2
1980.07.00        2
2009.12.18        2
1983.06.15        2
1966.12.26        2
1920.00.00.b      2
2013.10.05        2
2014.08.02        2
1907.10.16.R      2
1915.07.06.a.R    2
1962.06.11.b      2
1923.00.00.a      2
1990.05.10        2
2006.09.02        2
2005.04.06        2
Name: Case_Number, dtype: int64

In [763]:
#To delete duplicate records, the following code could be used
#sharks_copy = sharks_copy['Case_Number'].drop_duplicates()

# Date

In [764]:
#Remove instances where date is pre-fixed with 'Reported '
sharks_copy['Date'] = sharks_copy['Date'].str.replace('Reported', '')

In [765]:
#Strip all leading whitespaces
sharks_copy['Date'] = sharks_copy['Date'].str.lstrip()

In [766]:
sharks_copy['Date'].value_counts().head(50)

1957                    11
1942                     9
1956                     8
1950                     7
1941                     7
1958                     7
No date                  6
1949                     6
05-Oct-03                5
No date, Before 1963     5
28-Jul-95                5
Aug-56                   5
1959                     5
1954                     5
1940                     5
1970s                    5
12-Apr-01                5
Oct-60                   5
1955                     5
1938                     5
1898                     5
23-Jan-70                4
1929                     4
Before 1906              4
14-Jun-12                4
1960s                    4
09-Jan-10                4
09-Jul-94                4
1952                     4
10-Oct-1906              4
1876                     4
20-Sep-15                4
28-Dec-14                4
27-Dec-08                4
1945                     4
1961                     4
1960                     4
27-Jul-52                4
Before 1958              4
1890                     4
1995                     4
28-Mar-08                3
1953                     3
09-Feb-96                3
30-Aug-08                3
18-Sep-16                3
17-Aug-11                3
14-Jan-62                3
07-Jan-74                3
Apr-60                   3
Name: Date, dtype: int64

# Year

In [767]:
#Drop this column as it is redundant due to the presence of the 'Date' column
sharks_copy = sharks_copy.drop(['Year'], axis=1)

# Type

In [768]:
#Look at unique values and group by count
sharks_copy['Type'].value_counts()

Unprovoked      4386
Provoked         557
Invalid          519
Sea Disaster     220
Boat             200
Boating          110
Name: Type, dtype: int64

In [769]:
#Can probably combine 'Boat' and 'Boating' group
sharks_copy['Type'] = sharks_copy['Type'].str.replace('Boating', 'Boat')

In [770]:
#Look into what 'Invalid' might mean
whatisinvalid = sharks_copy[(sharks_copy['Type'] == 'Invalid')]
whatisinvalid

,Case_Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order
50,2016.06.07,07-Jun-16,Invalid,USA,South Carolina,"Folly Beach, Charleston County",Surfing,Jack O'Neill,M,27,"No injury, board damaged",N,Said to involve an 8' shark but more likely da...,"C. Creswell, GSAF",2016.06.07-Oneill.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.06.07,2016.06.07,5943
73,2016.04.08,08-Apr-16,Invalid,CAPE VERDE,Boa Vista Island,NaN,NaN,a British citizen,M,60,"""Serious""",N,Shark involvement not confirmed,L.O.Guttke,2016.04.08-CapeVerde.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.04.08,2016.04.08,5920
75,2016.04.07.a,07-Apr-16,Invalid,USA,Florida,"Corners Beach, Jupiter, Palm Beach County",SUP,Maximo Trinidad,M,NaN,Fell off board when spinner shark leapt from t...,N,NaN,YouTube,2016.04.07.a-Trinidad.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.04.07.a,2016.04.07.a,5918
81,2016.03.13,13-Mar-16,Invalid,USA,California,"Bolsa Chica State Park, Orange County",Surfing,unknown,NaN,NaN,Board reportedly bumped by shark. No injury,N,Shark involvement not confirmed,"Orange County Register, 3/13/2016",2016.03.13-BolsaChicaSurfer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.03.13,2016.03.13,5912
90,2016.02.10.R,10-Feb-2016,Invalid,CAYMAN ISLANDS,Grand Cayman,Stingray City Bar,Feeding stingrays?,Richard Branson,M,65,Minor injury to wrist from Southern stingray,N,No shark involvement,R. Branson,2016.02.10.R-Branson-stingray.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.02.10.R,2016.02.10.R,5903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5841,1767.00.00,1767,Invalid,FRANCE,Côte d'Azur,St. Tropez,Bathing,Samuel Matthews,M,NaN,Lacerations to arm & leg,N,Description of shark does not ring true,NaN,1767.00.00-Matthews.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1767.00.00,1767.00.00,152
5849,1733.00.00,1733,Invalid,ICELAND,Bardestrand,Talkknefiord,NaN,NaN,NaN,NaN,"Partial hominid remains recovered from shark, ...",NaN,NaN,E. Olafsen,1733.00.00-Iceland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1733.00.00,1733.00.00,144
5855,1642.00.00.b,Late 1600s 1728,Invalid,GUINEA,NaN,NaN,Went overboard,crew member of the Nieuwstadt,M,NaN,FATAL,Y,NaN,"History of the Pyrates, by D. Defoe, Vol. 2, p.28",1642.00.00.b-Nieuwstadt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1642.00.00.b,1642.00.00.b,138
5917,ND.0086,"No date, Before 1975",Invalid,PAPUA NEW GUINEA,Milne Bay Province,"D'Entrecasteaux islands, 20 miles off the coast",Scuba diving,Dan Hogan,M,NaN,Said to be fatal but incident highly questionable,Y,"Tiger shark, 4.6 m to 6 m [15' to 20']","F. Dennis, pp.15-16",ND-0086-DanHogan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0086,ND.0086,76
5922,ND.0081,"No date, Before 1963",Invalid,USA,Hawaii,"Portlock, Oahu",Diving,Val Valentine,M,NaN,A 4.3 m [14'] shark made threat display. No in...,N,NaN,B. Sojka & D. Lloyd,ND-0081-Valentine.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0081,ND.0081,71

# Country

In [771]:
#Look at unique values and group by count
sharks_copy['Country'].value_counts()
#Not sure if there's much to be done here, could perhaps change so that it isn't all in uppercase

USA                               2116
AUSTRALIA                         1279
SOUTH AFRICA                       565
PAPUA NEW GUINEA                   133
NEW ZEALAND                        125
                                  ...
SAN DOMINGO                          1
FEDERATED STATES OF MICRONESIA       1
GULF OF ADEN                         1
NORTHERN ARABIAN SEA                 1
ARGENTINA                            1
Name: Country, Length: 203, dtype: int64

In [772]:
#Look at records where 'Country' is null
country_null = sharks_copy[(sharks_copy['Country'].isnull()==True)]
country_null = country_null[['Area', 'Location', 'Activity', 'Species']]
country_null
"""Some of the null 'Country' values can be replaced with country names based 
on the info given in the 'Area' and 'Location' columns"""

,Area,Location,Activity,Species
303,NaN,NaN,Sea disaster,Shark involvement not confirmed
2731,English Channel,NaN,Swimming,NaN
3153,NaN,NaN,NaN,NaN
3162,Caribbean Sea,Between St. Kitts & Nevis,Sea Disaster Sinking of ferryboat Christina,NaN
3163,NaN,NaN,NaN,Mako shark
3170,NaN,NaN,Freediving,Wobbegong shark
3174,NaN,NaN,Wading,Carpet shark
3200,NaN,NaN,NaN,NaN
3379,NaN,Florida Strait,The boat Caribou II sank,NaN
3435,NaN,NaN,Spearfishing,NaN
3792,"Between Timor & Darwin, Australia",NaN,Portuguese Airliner with 9 people aboard went ...,NaN
4005,Near the Andaman & Nicobar Islands,NaN,Climbing back on ship,Blue shark
4040,Between Comores & Madagascar,Geyser Bank,Shipwreck,NaN
4271,Caribbean Sea,Between Cuba & Costa Rica,"Sea Disaster, sinking of the motorship Wingate",Shark involvement not confirmed
4412,NaN,225 miles east of Hong Kong,Japanese POW ship Arisan Maru with 1800 Americ...,NaN
4473,Off South American coast,NaN,Dutch merchant ship Zaandam torpedoed by the ...,NaN
4485,300 miles east of St. Thomas (Virgin Islands),NaN,On life raft tethered to lifeboat. A seaman pu...,NaN
4499,NaN,NaN,Jumped overboard from torpedoed Panamanian fre...,NaN
4502,NaN,NaN,"Days before the surrender of Singapore, the 3 ...",NaN
4681,NaN,NaN,Diving,NaN
4790,French Southern Territories,Île Saint-Paul,"Fishing, boat capsized",NaN
5189,NaN,Near the equator,Jumped overboard,NaN
5346,NaN,NaN,Diving,NaN
5347,NaN,NaN,Diving,NaN
5370,Mediterranean Sea,NaN,Swimming,NaN
5394,NaN,NaN,Diving,NaN
5525,NaN,NaN,Swimming,NaN
5558,Western Banks,NaN,"Floating, holding onto an oar after dory capsized",NaN
5560,NaN,Santa Cruz,Bathing,NaN
5589,NaN,NaN,Jumped overboard after murdering 2 shipmates,NaN
5632,NaN,NaN,Salvaging a shipwreck,NaN
5664,NaN,NaN,Fell overboard,NaN
5723,NaN,NaN,NaN,NaN
5729,NaN,NaN,Bathing,NaN
5827,NaN,NaN,Fell overboard,NaN
5847,NaN,Carlisle Bay,Swimming,NaN
5856,NaN,NaN,NaN,NaN
5862,NaN,NaN,Swimming,NaN
5866,Ionian Sea,NaN,Sponge diving,NaN
5868,Ionian Sea,NaN,Ascending from a dive,NaN
5889,NaN,NaN,NaN,NaN
5896,NaN,In a river feeding into the Bay of Bengal,Netting shrimp,NaN
5949,NaN,NaN,A group of survivors on a raft for 17-days,1.2 m [4'] shark

# Area

In [773]:
sharks_copy['Area'].value_counts()
#785 unique values, appears to be a mix of states, seas and other. Could definitely be tidied up and improved somehow!

Florida                    990
New South Wales            468
Queensland                 300
Hawaii                     282
California                 276
                          ...
165  miles from Bermuda      1
Andaman Islands              1
Maluku Province              1
Antarctic Ocean              1
Lomaiviti Provine            1
Name: Area, Length: 785, dtype: int64

# Location

In [774]:
sharks_copy['Location'].value_counts()
#3929 unique values, is this category required, could potentially be dropped?

New Smyrna Beach, Volusia County                  157
Daytona Beach, Volusia County                      28
Ponce Inlet, Volusia County                        17
Myrtle Beach, Horry County                         17
Melbourne Beach, Brevard County                    15
                                                 ...
Paradise Beach, Melbourne, Brevard County           1
Off Rocky Point                                     1
8 miles south of Elliot Key, Miami-Dade County      1
South Passage, south of Coral Bay                   1
First Beach                                         1
Name: Location, Length: 3929, dtype: int64

# Activity

In [775]:
sharks_copy['Activity'].value_counts()
"""1492 unique values, could potentially group activities together into categories 
(eg. anything containing the word 'fishing' anything containg the word 'diving', etc.)?"""

Surfing                                                 904
Swimming                                                819
Fishing                                                 414
Spearfishing                                            321
Bathing                                                 153
                                                       ...
Diving for coins thrown from ship S.S. Moeraki            1
Launching a boat                                          1
Portuguese Airliner with 9 people aboard went down.       1
Working near fish traps                                   1
Swimming / floating                                       1
Name: Activity, Length: 1492, dtype: int64

# Name

In [776]:
sharks_copy['Name'].value_counts().head(50)
"""Contains an awful lot of values that aren't names, which probably makes this column useless. 
However, before deleting it, should double check that the 'Sex' column for those with name of 
'male', 'female', 'boy', etc., isn't null."""

male                     495
female                    85
boy                       23
boat                      14
2 males                   14
Anonymous                 10
sailor                    10
child                     10
a sailor                   7
girl                       7
males                      6
Unidentified               6
fisherman                  6
a pearl diver              5
a native                   5
Arab boy                   4
Unknown                    4
a soldier                  4
black male                 4
2 fishermen                4
Japanese diver             3
M.C.                       3
3 males                    3
dinghy                     3
Andre Hartman              3
Zulu male                  3
woman                      3
aboriginal male            3
native boy                 3
unknown                    3
 male                      3
Russian male               3
2 women                    3
Kenny Burns                2
Gerjo Van Niekerk          2
Iona Asai                  2
William Black              2
Hideo Ishida               2
John Williams              2
12' dinghy                 2
Greg Pickering             2
Fijian girl                2
John Bolling               2
American male              2
Carey Ford                 2
Coast Guard personnel      2
2 men                      2
John Hayes                 2
fishermen                  2
Mr. Meyer                  2
Name: Name, dtype: int64

In [777]:
#Find records where 'Sex' is null, but 'Name' is 'male'
replace_null_with_M = sharks_copy[(sharks_copy.Sex.isnull()) & (sharks_copy['Name'] == 'male')]
# 9 records
#Find records where 'Sex' is null, but 'Name' is 'female'
replace_null_with_F = sharks_copy[(sharks_copy.Sex.isnull()) & (sharks_copy['Name'] == 'female')]
#0 records
replace_null_with_M

,Case_Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order
2000,1997.09.08,08-Sep-97,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,NaN,17,2 small lacerations to bottom of foot,N,small blacktip shark,"Daytona News-Journal, 9/9/1997",1997.09.08-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1997.09.08,1997.09.08,3993
2824,1980.12.26,26-Dec-80,Invalid,SOUTH AFRICA,Eastern Cape Province,Port Elizabeth,NaN,male,NaN,NaN,Probable drowning & scavenging,Y,NaN,"Eastern Province Herald, 12/29/1980",1980.12.26-scavenging.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1980.12.26,1980.12.26,3169
3068,1973.09.29,29-Sep-73,Sea Disaster,SOUTH AFRICA,KwaZulu-Natal,Mission Rocks,Being pulled to shore from wreck of 25-ton fis...,male,NaN,NaN,"FATAL, thigh bitten",Y,NaN,"Natal Mercury, 10/5/1973",1973.09.29-AlanS.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1973.09.29,1973.09.29,2925
4112,1954.07.01.R,01-Jul-1954,Invalid,CROATIA,NaN,Pula,NaN,male,NaN,NaN,Human remains found in shark,NaN,NaN,"C. Moore, GSAF",1954.07.01.R-Pula.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1954.07.01.R,1954.07.01.R,1881
4240,1950.07.19,1950.07.19,Provoked,ITALY,Savona,Albenga,Fishing,male,NaN,NaN,Harpooned shark bit his forehead PROVOKED INCI...,N,NaN,"C. Moore, GSAF",1950.07.19-Albenga.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1950.07.19,1950.07.19,1753
5018,1920.11.04,04-Nov-20,Sea Disaster,PHILIPPINES,Leyte,NaN,The coastwise steamer San Basilio capsized in ...,male,NaN,NaN,FATAL,Y,NaN,"Oakland Tribune, 11/11/1920",1920.11.04-Philippines.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1920.11.04,1920.11.04,975
5779,1842.07.06,06-Jul-1842,Provoked,USA,New Jersey,"Absecon, Atlantic County",Harassing a shark,male,NaN,NaN,Lacerations to leg PROVOKED INCIDENT,n,NaN,"New York Evening Post, 7/11/1842",1842.07.06-Absecon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1842.07.06,1842.07.06,214
5825,1816.09.03.R,03-Sept-1816,Unprovoked,USA,Rhode Island,Bristol Harbor,Swimming,male,NaN,NaN,FATAL,Y,NaN,"Connecticut Courant, 9/3/1816",1816.09.03.R-Rhode-Island.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1816.09.03.R,1816.09.03.R,168
5865,0500.00.00,Circa 500 A.D.,Unprovoked,MEXICO,NaN,NaN,NaN,male,NaN,NaN,Foot severed,N,NaN,J. Castro,500AD-Mexico.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0500.00.00,0500.00.00,128

In [778]:
#Replace 'null' with 'M' in 'Sex' column if 'Name' is 'male'
sharks_copy['Sex'] = sharks_copy['Sex'].str.replace(replace_null_with_M, 'M')
#Can't ork out how to make this work...

TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed

In [779]:
#Once I have solved the problem above, I can delete the 'Name' column
#sharks_copy = sharks_copy.drop(['Name'], axis=1)

# Sex

In [780]:
list(sharks_copy.Sex.unique())

['M', nan, 'F', 'M ', 'lli', 'N', '.']

In [781]:
#Remove trailing whitespaces
sharks_copy['Sex'] = sharks_copy['Sex'].str.rstrip()

In [782]:
list(sharks_copy.Sex.unique())

['M', nan, 'F', 'lli', 'N', '.']

In [783]:
sharks_copy['Sex'].value_counts()

M      4837
F       585
N         1
.         1
lli       1
Name: Sex, dtype: int64

In [784]:
#Investigate non M or F values further
sharks_copy[(sharks_copy.Sex == 'lli') | (sharks_copy.Sex == 'N') | (sharks_copy.Sex == '.')]

,Case_Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal,Species,Investigator_or_Source,pdf,href_formula,href,Case_Number_1,Case_Number_2,original_order
1400,2004.11.11.b,11-Nov-04,Unprovoked,USA,California,"Bunkers, Humboldt Bay, Eureka, Humboldt County",Surfing,Brian Kang,lli,38,"Lacerations to hand, knee & thigh",N,5.5 m [18'] white shark,"R. Collier, GSAF",2004.11.11.b-Kang.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2004.11.11.b,2004.11.11.b,4593
4708,1934.07.11,11-Jul-34,Boat,AUSTRALIA,New South Wales,Cronulla,Fishing,"18' boat, occupants William & Leslie Newton",N,NaN,No injury to occupants Sharks continually foll...,N,"Blue pointer, 11'","G.P. Whitley, ref: Daily Telegraph, 7/11/1934 ...",1934.07.11-Newton-boat-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1934.07.11,1934.07.11,1285
5201,1908.06.02.R,02-Jun-1908,Sea Disaster,PAPUA NEW GUINEA,New Britain,Matupi,.,NaN,.,NaN,"Remains of 3 humans recovered from shark, but ...",Y,Allegedly a 33-foot shark,"Taranaki Herald, 6/2/1908",1908.06.02.R-Matupi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1908.06.02.R,1908.06.02.R,792

In [785]:
#'lli' can be replaced by 'M', 'N' & '.' can be replaced by 'Nan'
sharks_copy = sharks_copy.replace('lli', 'M')
sharks_copy = sharks_copy.replace('N', np.NaN)
sharks_copy = sharks_copy.replace('.', np.NaN)
#All 'Sex' values are either 'M', 'F' or null.

# Age

In [786]:
#Change data type for 'Age' column from object to int64
sharks_copy['Age'] = sharks_copy['Age'].astype('int64')
sharks_copy['Age'].dtype

ValueError: cannot convert float NaN to integer

In [787]:
#investigating 'Age' column
sharks_copy.Age.unique()

array(['16', '36', '43', nan, '60s', '51', '50', '12', '9', '22', '25',
       '37', '20', '49', '15', '21', '40', '72', '18', '29', '31', '11',
       '10', '59', '42', '34', '35', '19', '6', '27', '64', '60', '23',
       '52', '13', '57', '48', '39', '24', '26', '69', '46', 'Teen', '41',
       '45', '65', '38', '71', '32', '58', '28', '54', '44', '14', '7',
       '62', '40s', '68', '47', '17', '30', '63', '70', '18 months', '53',
       '20s', '33', '30s', '50s', '8', '61', '55', 'teen', '66', '77',
       '74', '3', '56', '28 & 26', '5', '86', '18 or 20', '12 or 13',
       '46 & 34', '28, 23 & 30', 'Teens', '36 & 26', '8 or 10', '84',
       '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75', '33 or 37',
       'mid-30s', '73', '23 & 20', '7      &    31', '20?', "60's",
       '32 & 30', '16 to 18', '87', '67', 'Elderly', 'mid-20s', 'Ca. 33',
       '21 or 26', '>50', '18 to 22', 'adult', '9 & 12', '? & 19',
       '9 months', '25 to 35', '23 & 26', '1', '(adult)', '33 & 37',
       '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32',
       '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19',
       '33 & 26', '2 to 3 months', 'MAKE LINE GREEN', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       'M', '2½', '13 or 14'], dtype=object)

In [788]:
sharks_copy['Age'].value_counts().head(50)

17    148
18    145
19    138
20    136
15    135
16    134
21    115
22    113
24    103
25    101
14     97
13     91
26     80
23     80
27     78
28     77
29     75
30     74
12     70
32     64
35     64
10     51
40     50
31     50
38     47
34     45
43     43
36     41
33     40
39     37
37     37
42     36
9      35
11     35
52     34
41     34
50     32
45     32
44     29
47     28
49     27
8      27
46     25
48     25
7      21
55     20
51     19
6      14
60     14
57     14
Name: Age, dtype: int64

In [789]:
#Convert 'Ages' column into categories
age_labels = ['0-15', '16-25', '26-35', '36-45', '46-55', '56-65', '65+']
cutoffs = [15,25,35,45,55,65,100]
bins = pd.cut(sharks_copy['Age'],cutoffs, labels=age_labels)

TypeError: '<' not supported between instances of 'int' and 'str'

# Fatal

In [790]:
list(sharks_copy.Fatal.unique())

[nan, 'Y', 'UNKNOWN', ' N', 'F', 'N ', '#VALUE!', 'n']

In [791]:
sharks_copy['Fatal'].value_counts()

Y          1552
UNKNOWN      94
 N            8
F             1
n             1
N             1
#VALUE!       1
Name: Fatal, dtype: int64

In [792]:
sharks_copy['Fatal'] = sharks_copy['Fatal'].str.lstrip()
sharks_copy['Fatal'] = sharks_copy['Fatal'].str.rstrip()
sharks_copy['Fatal'] = sharks_copy['Fatal'].str.upper()

In [793]:
#Investigate record where 'Fatal' = 'F' & '#VALUE!' further
sharks_copy[(sharks_copy.Fatal == 'F') | (sharks_copy.Fatal == '#VALUE!')]
#On this occasion we can replace both with ''
sharks_copy['Fatal'] = sharks_copy['Fatal'].replace('F', np.NaN)
sharks_copy['Fatal'] = sharks_copy['Fatal'].replace('#VALUE!', np.NaN)
#All 'Fatal' records are now either 'Y', 'N', 'UNKNOWN', or null

# Species

In [794]:
list(sharks_copy.Species.unique())
"""Far to my many different values in this column. One way to clean it up would be to 
remove any measurements and group them into categories such as 'Tiger Shark', 'Bull Shark', 
'Dogfish Shark', etc. If you wanted to keep measurements, could have that info in a separate column."""

[nan,
 '2 m shark',
 "3' to 4' shark",
 'Tiger shark, 10?',
 'White shark',
 "Bull shark, 6'",
 'Bull shark, 3.5 m',
 "Tiger shark, 10' ",
 'Blacktip shark',
 'Blue shark',
 "Nurse shark, 4'",
 'reef shark, 1m',
 "Lemon shark, 9'",
 'Angel shark',
 'dogfish shark',
 'Tawny nurse shark',
 "Caribbean reef shark, 4.5'",
 "3' to 5' shark",
 "5' shark",
 "3' shark",
 "Said to involve an 8' shark but more likely damage caused by debris",
 '3+ m shark',
 'Mako shark',
 'Bronze whaler sharks x 3',
 '3 m shark',
 "Bull shark, 4' to 5'",
 "Blacktip shark, 4'",
 "Nurse shark, 2'",
 "Mako shark, 1.5 m [5'] ",
 'Wobbegong shark',
 'Grey reef shark, 2 m',
 "Bull shark, 7'",
 'Tiger shark, 2.5 m',
 'Shark involvement not confirmed',
 "5' to 6' shark",
 'Nurse shark, 2.5-ft',
 'Bronze whaler',
 'Sandtiger shark',
 'No shark involvement',
 "Reef shark, 5'",
 'Bull sharks x 2',
 "Tiger shark, 14'",
 'White shark, 3 m',
 "Silky shark, 6.5'",
 "9' shark",
 "Bronze whaler shark, 6'",
 'Tiger shark, 1.5 m ',
 'White shark, 3.5 m',
 'Bull shark',
 "Spinner shark, 7'",
 'Bull shark, 2.8 to 3.1 m',
 'White shark, 3 to 3.5m ',
 "Spinner shark, 5'",
 "Tiger shark, 7'",
 'Hammerhead sp.',
 "Tiger shark, 13' ",
 "4' to 5' shark",
 "Blacktip shark, 4' to 5'",
 "Blacktip shark, 5' to 6'",
 "White shark, 19'",
 'juvenile shark',
 "Tiger shark, 13'",
 "4' shark",
 "6' shark",
 "White shark, 11' to 12'",
 'Hammerhead shark.',
 'White shark, 2.5 m',
 "4' shark?",
 'small shark',
 'Tiger shark',
 "White shark, 10' to 12' ",
 "White shark, 13'",
 "Hammerhead shark. 6' to 7'",
 "Blacktip or spinner shark, 4'",
 "Thought to involve a 3' to 4' shark, but shark involvement not confirmed",
 'Mako shark, 100-lb',
 'Bronze whaler shark, 1.5m',
 'Bull shark, 2m',
 "White shark, 7'",
 'Shark involvement not cofirmed',
 "6' to 7' shark",
 'White shark, 2m to 3 m',
 "Bull shark, 5'",
 'small nurse shark',
 'Bull shark, 2.5 m',
 '1m to 1.2 m shark',
 '3- to 4-foot shark',
 'White shark, 6 m',
 'Blue shark, 8 to 9 feet',
 'White shark, 4 m',
 'Tiger shark, 8 to 12 feet',
 'Blacktip Reef shark ',
 'Tiger shark, 3.5 m',
 '3.5 to 4 m shark',
 '2 m to  3 m shark',
 '1.8 m shark',
 'Bull shark, 1.3 m',
 '5 m shark',
 '1.5 m shark',
 'White shark or oceanic whitetip shark',
 'Raggedtooth shark, 1.3 m',
 '"A small shark"',
 'White shark, 4 to 5 m',
 'Shark involvement prior to death still to be determined',
 'Shark involvement not confirmed & highly unlikely',
 "White shark, 8' to 10'",
 'Goblin shark',
 "2' shark",
 "Tiger shark, 12'",
 "12' to 14' shark",
 '1 m shark',
 "Bull shark, 3' to 4'",
 "White shark, 18' to 20'",
 "8' to 10' shark",
 '2 white shark: 13\' & 9"8"',
 "7' shark",
 "White shark, 12' to 14'",
 'Spinner shark',
 'Spinner shark or blacktip shark',
 "4' to 6' shark",
 "Bull shark, 4.5' ",
 'reef shark',
 " Bull shark, 8'",
 "Bull shark, 9' to 10'",
 " Bull shark, 5'",
 "4' tp 5' shark",
 'Possibly juvenile tiger shark',
 '1.8 metre shark',
 "6' to 8' shark",
 " White shark, 7' ",
 "Oceanic whitetip shark'",
 "Caribbean reef shark, 7' to 8'",
 ' Lemon shark, 3.5 m',
 " Sandbar shark, 3' to 4'",
 ' Bull shark, 1.2m ',
 '3m shark',
 ' Tawney nurse shark, 1m',
 'Galapagos shark',
 " white shark, 15' ",
 'reef shark?',
 ' Raggedtooth shark, 2m',
 '3 m to 4 m white shark',
 'Blacktip or spinner shark?',
 'Blacktip reef shark ',
 '7-gill shark?',
 '1m shark',
 '7-gill shark',
 'Reported to involve a bull shark',
 'White shark, 3m ',
 "Tiger shark, 10' to 12'",
 ' Wobbegong shark, 1.6 to 1.8m ',
 'Tiger shark, 3m ',
 'Thought to involve a white shark',
 "White shark, 10 '",
 'Reported to involve a white shark',
 'Blacktip reef shark, 1m',
 'Thought to involve a bull shark',
 'Reported to involve a 4 m white shark',
 "Whitetip reef shark, 4' to 6'",
 'Nurse shark?',
 'Small bull shark',
 'Nurse shark',
 'Salmon shark',
 "Mako shark, 5'",
 'Tiger shark?',
 "Bull shark, 8'",
 "Bull shark, 6' to 8'",
 "Tiger shark, 8' to 10' ",
 "Possibly a Bull shark, 3'",
 "Lemon shark, 4'",
 'a small shark',
 'Wobbegong, 2m',
 'Grey nurse shark, 3m',
 'Possibly a blacktip reef shark',
 'shark involvement not confirmed',
 'Raggedtooth shark, 1.5 m',
 'Tiger shark, 4.8 m',
 'Bronze whaler shark, 2.5m',
 '"small sharks"',
 'White shark, 4m',
 'Lemon shark',
 'White shark, 5m',
 "Tiger shark, 15'",
 'Bronze whaler shark, 3m',
 '2.5 m shark',
 'Bull shark, 2m ',
 "Tiger shark, 6'",
 "10' shark",
 'Seven-gill shark',
 "Tiger shark, 10'",
 "2' to 3' shark",
 "Tiger shark, 8'",
 "Tiger shark, 10' to 12' ",
 "White shark, 15' to 16' ",
 '2m shark',
 'Possibly a 3 m bull shark',
 "3.5' to 4' shark",
 "Porbeagle shark, 7'",
 '4.5 m shark',
 "Lemon shark, 4' to 5' ",
 'Lemon shark, 2.5m to 3m ',
 'White shark or bronze whaler',
 'Salmon shark suspected, but unlikely',
 "14' to 18'shark",
 "15' shark",
 'possibly a bull shark',
 'a small reef shark',
 'small blacktip shark?',
 'Blacktip shark ',
 'Blue shark, 2.5m',
 'White shark, 2 m',
 '18" to 24" shark',
 'Bull shark, 3m',
 "Tiger shark, 8' to 9' ",
 'White shark, 4 m to 5m ',
 'White shark, 6m ',
 "Tiger shark, 10'  ",
 'White shark, 4m ',
 'Possibly a bull shark',
 "Possibly a 5' to 6' bull shark",
 'Tawny nurse shark, 40cm',
 'Grey nurse shark',
 'White shark, 7m',
 'Tiger shark, 3m',
 'Blue shark, 70-kg blue shark',
 'White shark, 2.7 m',
 'Allegedly a 4 m tiger shark',
 "7' to 8' shark ",
 'White shark, 2.5m',
 'Wobbegong shark?',
 "White shark, 15' to 16'",
 'Raggedtooth shark',
 "White shark, 10'",
 "White shark, 15'",
 'Port Jackson shark, 1m',
 "10' to 12' shark",
 '2 to 2.5 m shark',
 'Tiger shark, 2m',
 "6' shark, possibly a blactip or spinner shark",
 'Shark involvement prior to death not confirmed',
 "White shark, >6'",
 "Possibly a 5' to 6' sandtiger shark",
 '4 m shark',
 'Grey reef shark ',
 'White shark, 3m to 4m',
 'Dusky shark, 3m',
 "White shark, 5' k",
 "Oceanic whitetip shark, 7'",
 "Sevengill shark, 6' to 8'",
 ' Tiger shark, 2.8m',
 'Zambesi shark',
 "Sandbar shark ,8'",
 "Bull shark, 12'",
 'reef shark, 1.5m',
 "1' to 2' shark",
 'possibly a bronze whaler shark',
 ' Bull shark, 2.5 m',
 'Blacktip shark pup',
 'Bull shark, 2.5m',
 '3 m to 4 m shark',
 'White shark x 2',
 'Caribbean reef shark',
 'Oceanic whitetip shark, 2.5m ',
 'Mako shark ',
 'Oceanic whitetip shark, 2.5m, female',
 "Porbeagle shark, 8' ",
 "White shark, 14' to 18' ",
 'Bull shark, 1.4m ',
 "Possibly a 6' lemon shark",
 'Possibly a small blacktip shark',
 "Sandtiger shark, 4' to 5'",
 'A small spinner shark',
 'Nurse shark, juvenile ',
 "Blue shark, 7'",
 "8' shark",
 '20 to 30kg shark',
 "Lemon shark, 6'",
 "14' shark",
 "Oceanic whitetip shark, 6'",
 'Possibly a blue shark',
 'Wobbegong shark, 1.6m',
 '2 m to 3 m shark',
 "Spinner shark, 6'",
 'Thought to involve a juvenile hammerhead shark',
 'Whitetip reef shark, 1m',
 'Zambesi shark, 2m ',
 'White shark, 2.8 to 3 m ',
 "Sandtiger shark, 8'",
 'Thresher shark',
 "Bull shark, 10'",
 'Spurdog',
 "White shark, 5' to 6' juvenile ",
 'White shark, 2m',
 'Tiger shark, 12',
 'Bull shark?',
 'Shark involvement questionable',
 "Caribbean reef shark, 6'",
 "Nurse shark, 6'",
 'Thought to involve a Bronze whale shark, 2m',
 'Shark involvement probable, but not confirmed',
 'Oceanic whitetip shark',
 'Oceanic whitetip shark, 2.5 to 3m',
 '80 kg shark',
 "5' to 8' shark",
 'blacktip or spinner shark',
 "White shark, 12' to 15' female",
 'Bronze whaler shark?',
 'Blacktip reef shark pup',
 'Thought to involve a cookie cutter shark',
 'Wobbegong shark, 60cm',
 'Blue shark, 1m',
 '2.6 m shark',
 'White shark, 2.5m ',
 'Bull shark, 2.7 m ',
 "White shark, 12' ",
 'White shark, 5.5 m ',
 'Dusky shark, 2m',
 'White shark, 3.5m',
 'Mako shark, 3m',
 'Broadnose sevengill shark',
 'White shark, 4m to 5m ',
 '4 to 5m white shark',
 'Raggedtooth shark, 2m',
 'White shark, 4.5 to 5 m ',
 'Zambesi shark?',
 'Bronze whaler shark',
 ' reef shark, 1.8m',
 '5 m white shark',
 "+3' shark",
 "2' to 3' juvenile shark",
 "White shark, 14' to 16' ",
 "8' bull shark or Caribbean reef shark",
 "8' white shark or 7-gill shark",
 "3'  shark",
 "2'  shark",
 "2' to 3' reef shark",
 'Starry smoothhound shark, 1m',
 "Bull shark, 6' to 7'",
 'White shark, 4.5m',
 "4.5 to 5' shark",
 'Basking shark',
 'Tiger sharks in area',
 '2 small bull sharks',
 'Bull shark, 1.8m',
 "White shark, 12' to 15'",
 'Tiger shark, 2.3m ',
 "Tiger shark, 13' female",
 'Reported by media as shark attack, but shark involvement prior to death was not confirmed',
 'Shark involvement not confirmed; thought to be a barracuda bite',
 "1.5' to 2' shark",
 "2.5' shark",
 'A bull shark, according to some of the divers on the boat',
 'Blacktip shark, 2m',
 'Mako shark, 90kg',
 'Bronze whaler shark, 4m',
 "Nurse shark, 10'",
 'Possibly a hammerhead shark',
 '"a small shark"',
 'Not a shark attack; it was a hoax',
 '2.27 m shark',
 '1.5 to 2 m shark',
 "Blacktip shark, 5'",
 'Oceanic whitetip sharks were in the vicinity',
 'Gray reef shark',
 "9.5' shark?",
 "Nurse shark, 2' to 3' ",
 'Possibly a spinner shark',
 "White shark, 12'",
 'Sand shark',
 "Possibly a 6' bull shark",
 ' ',
 "Possibly a 10' bull shark",
 'Bronze whaler shark, 1.5 m ',
 "3' small spotted catshark, Scyliorhinus canicula",
 "Bull shark, 5' ",
 "Lemon shark, 6' female ",
 'A 10-year-old 94-pound pregnant blacktip reef shark',
 'Lesser spotted dogfish, Scyliorhinus canicula, less than 80 cm in length',
 'White shark, 2m ',
 "Tiger shark, 14' ",
 'Lemon shark, >1 m ',
 "Bull shark, 10' ",
 'White shark, 3m',
 '2.4 m shark',
 '24" to 30" shark',
 "6' to 8' shark, possibly a tiger shark",
 '2.5 to 3 m shark',
 '2 to 3 m shark',
 "White shark, 12' to 15' ",
 'Raggedtooth shark, 150-kg',
 'White shark, 5m ',
 'Bull shark, 1.5m ',
 "White shark, 16' ",
 "1' to 4' shark",
 "3' to 3.5' shark",
 'White shark, 3.5m ',
 'small catsharks',
 'White shark?',
 'Thought to involve a mako shark, but possibly a sea lion',
 "Bull shark, 4' to 5' ",
 'Angel shark, 1.2m ',
 'Shark involvement not confirmed, injury may have been caused by a bluefish',
 'Bull or tiger shark',
 "5' to 6' spinner or bull shark",
 '1.8 m blacktip "reef" shark',
 "Possibly a 1' to 3' blacktip or spinner shark",
 "14' white shark",
 "Tiger shark, 8' to 12'",
 "Tiger shark, 15' female",
 "Grey reef shark, 5' to 8' ",
 'Wobbegong shark, 2 m ',
 "Bull shark, 4' to bull shark",
 'Bronze whaler shark, a  juvenile ',
 'Raggedtooth shark, 2.5 m to 3 m ',
 '3 m, 600-kg shark',
 "Tiger shark, 5' ",
 'Bronze whaler shark, 2 m',
 "5' to 7' shark",
 '4.5 m white shark',
 "12' to 18' shark",
 "12' shark",
 '3.5 m white shark',
 'Said to involve a 1.5 m shark',
 'Whitetip reef shark',
 '4 m white shark',
 '3 m white shark',
 'Raggedtooth shark, 2.5m ',
 "12' to 14' white shark",
 "18' white shark",
 "Tiger shark, less than 10'",
 'Caribbean reef sharks',
 'Tiger shark, 3 m ',
 "14' to 16' white shark",
 "4 m [13'] white shark",
 "2 m [6.75'] shark, 200-kg shark T",
 'juvenile white shark',
 'possibly a small blacktip shark',
 'Possibly a sandbar shark or small blacktip shark',
 "1.8 m [6'] shark",
 "3.5 m [11.5']shark",
 "[4.5' to 5'] shark",
 "[4' to 5']",
 "1.8 m [6'] bull shark",
 'On 8/13/2005 anglers from New Zealand caught a 2.8 m [9\'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha',
 'Unknown, but it was reported that a shark tooth was recovered from the wound',
 "3 m [10'] white shark",
 "Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident",
 '"small shark"',
 '18" to 36" shark',
 "Tiger shark, 3 m [10']",
 "2 m [6.75'] copper shark",
 "1.8 m [6'] blacktip shark",
 'small hammerhead shark',
 "4 m [13'] shark",
 "6 m [20'] white shark",
 "Sandtiger shark, 2.1 m [7'] ",
 "Tiger shark, 2.5 m [8.25']",
 "Bronze whaler shark, 4.3 m [14'] ",
 "Nurse shark, 3' ",
 "Tiger shark, 2.4 m [8']",
 "1.8 m [6'] Caribbean reef shark",
 "3 m [10'] shark",
 "Bronze whaler shark, 2 m to 3 m [6.75' to 10']  ",
 '4.5 m & 5 m white shark ',
 "5.5 m [18'] white shark",
 "2.5 m [8.25'] bull shark",
 "2 m [6.75'] white shark",
 "Bronze whaler shark, 2.4 m [8'] ",
 "1.8 m to 2.4 m [6' to 8'] white shark",
 "Tiger shark, 2.4 m to 3.7 m [8' to 12'] ",
 "Raggedtooth shark, 1.5 to 2 m [5' to 6.75']",
 'Thought to involve a 2.5 m bull or tiger shark',
 "Tiger shark, 3 m [10'] ",
 "2.4 m [8'] shark",
 "0.9 m to 1.2 m [3' to 4'] white shark",
 "4.9 m to 5.5 m [16' to 18'] white shark",
 "1.2 m [4'] shark",
 "3 m to 4 m [10' to 13']  white shark",
 "1.2 m to 1.5 m [4' to 5'] shark",
 "Longfin mako shark, 3.5 m [11.5'], 350-kg [772-lb] ",
 '2 sharks, 4.5 m & 3 m ',
 '"black tipped" shark',
 '9\'2" white shark',
 "Bronze whaler shark, 2.5 m [8.25'] ",
 "0.9 m to 1.5 m [3' to 5'] shark",
 "2.4 m to 3.7 m [8' to 12'] shark",
 "1,5 m [5'] Caribbean reef shark (Carcharhinus  perezi)",
 "Mako shark, 1.8 m [6']",
 "Wobbegong shark, 1.2 m [4'] k",
 "White shark, 5.5 m [18']",
 'small sharks',
 "5 m [16.5'] white shark",
 "1.2 m [4'] bull shark",
 'bull shark',
 "Tiger shark, 2.4 m to 3 m [8' to 10'] ",
 "Bronze whaler shark, 1.5 m [5'] ",
 "2 m [6.75'] sevengill  shark",
 '60 cm [23.6"] blind or brown shark',
 "4 m to 5 m [13' to 16.5'] white shark",
 'Possibily a  1.5 to 2 m sandtiger shark',
 'Shark involvement doubtful',
 'Bull shark, 1.65 m [5\'5"] was speared & killed',
 'Bull shark, 132-kg [291-lb] ',
 "Mako shark, 3 m to 4 m [10' to 13'] ",
 "Raggedtooth shark, 3.5 m [11.5'] ",
 'Shortfin mako shark',
 'Questionable Incident',
 "Wobbegong shark, 1.2 m [4'] ",
 "Tiger shark, 4 m [13']  ?",
 '2.5 oceanic whitetip shark',
 "Nurse shark, 60 cm to 90 cm [2' to 3'] ",
 "1.5 m [5'] shark, either a bronze whaler or a grey nurse shark",
 '1.2 m [4\'] "grey-colored shark"',
 '2 m cow shark',
 "4.5 m to 5.5 m [15' to 18'] white shark",
 "3.5 m [11.5'] white shark",
 'Unidentified species',
 "1.5 m to 1.8 m [5' to 6'] shark",
 "2.1 m  [7'] bull shark",
 "8' great hammerhead shark",
 'Grey reef shark',
 "106 cm [3.5']  shark",
 '“small brown shark”',
 "3.7 m to 4.3 m [12' to 14'] shark",
 '"sand shark"',
 "1.8 m [6'] reef shark - or a 2.1 m to 2.4 m [7' to 8'] grey-colored shark",
 "0.9 m to 1.2 m [3' to 4'] shark",
 'A “small” shark',
 '15 cm to 20 cm [6" to 8"] bite diameter just below left knee',
 "Mako shark, 3 m [10']",
 "60 cm [2'] captive shark",
 "2.5 m [8.25'] white shark",
 'Species unidentified',
 "Thought to involve a 2 m [6.75'] grey nurse shark",
 "Thought to involve a >2 m [6.75'] bull shark",
 'Reported to involve a hammerhead shark',
 'White shark, 4 m white shark',
 'Wobbegong shark, 1m',
 'Shark involvement not confirmed, injury may be due to a stingray',
 "3 m to 4.5 m [10' to 15'] white shark",
 "2.4 m to 3 m [8' to 10'] grey colored shark",
 "1.8 m to 2.1 m [6' to 7']\xa0 Caribbean Reef Shark ",
 'Possibly a bull shark or tiger shark',
 'Blacktip or spinner shark',
 "3.5' to 4.5' shark",
 "1.2 m [4'] blacktip shark",
 "Tiger shark, 1.5 m [5']k",
 "3 m to 3.7 m [10' to 12'] shark",
 "1' to 2' hammerhead or bonnethed shark",
 "0.9 m  to 1.2 m [3' to 4'] shark",
 "Nurse shark, 1.5 m [5'] ",
 "Sandtiger shark, 3 m [10'] ",
 "1.2 m [4'] blacktip or sandbar shark",
 "Bull shark, 1.8 m to 2.1 m [6' to 7'] ",
 'Mako shark, 400-lb ',
 "1.2 m to 1.5 m [4' to 5'] shark, possibly a bull shark",
 "Tiger shark, 2.4 m to 2.7 m [8' to 9']  ",
 "0.9 m to 1.2 m [3' to 4'] shark; Tooth fragment recovered from hand",
 '\xa0 ',
 "1.5 to 2.5 m [5' to 8.25'] copper shark",
 "3.7 m to 4.3 m [12' to 14'] white shark",
 '1 m  shark',
 "3' blacktip shark",
 "2.1 m to 2.4 m [7' to 8'] shark",
 "White shark, 6m [20']",
 'Bull shark, 400-lb ',
 "0.9 m [3'] shark",
 'Nurse shark, 1m ',
 "Spinner shark, 3' to 4' ",
 'Shark involvement prior to death unconfired',
 '1.5 m [5\'] "whaler shark"',
 'C. leucas tooth fragment recovered from kayak',
 'Unidentified',
 "Tiger shark, 1.8 m [6'] ",
 "Mako shark, 2 m [6.75'] ",
 "Tiger shark, 1.8 m [6']",
 'Questionable incident - shark bite may have precipitated drowning',
 "2' to 3.5' shark",
 "12' sandtiger shark",
 'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
 "1.5 m [5'] shark",
 "3 m [10'] bull shark",
 'Possibly  a blacktip or spinner shark',
 "3' shark, possibly  a blacktip or spinner shark",
 "Blacktip shark, 5' to 6' ",
 "1.9 m [6.5'] bull shark",
 "Mako shark, 14' ",
 "0.9 m  [3'] shark",
 "Bull shark, 2.3 m [7.5'] ",
 "White shark, 2.4 m to 3 m [8' to 10'] ",
 "1.2 m to 1.5 m [4.5' to 5'] shark",
 "White shark, 2.7 m to 3 m [9' to 10'] ",
 'Possibly a juvenile blacktip or spinner shark',
 "Possibly a 1.5 m [5'] blacktip or spinner shark",
 '1 m shark, possibly whitetip reef shark',
 "White shark, 2.7 m [9'] ",
 "Spinner shark, 1.2 m to 1.5 m [4' to 5'] ",
 "Tiger shark, 8' ",
 "White shark, 5 m [16.5'] ",
 "Bronze whaler shark, 2.5 m [8.25']  k",
 "2 m [6.75'] shark",
 "White shark, 4.3 m [14'] ",
 '1.8 m to 2.4 m [6\' to 8\'] "black finned shark"',
 "6 m [20'] shark",
 'White shark, 4.5 m [14\'9"] ',
 "Porbeagle shark, 3 m [10']rk",
 'Tiger shark, 4 m ',
 "1.2 m to 1.8 m [4' to 6'] shark",
 "Bull shark, 1.5 m to 1.8 m [5' to 6'] ",
 "White shark, 4.9 m [16'] ",
 "Tiger shark, 1.8 m to 2.4 m [6' to 8'] ",
 "2.1 to 2.4 m [7' to 8'] shark",
 "Blacktip shark, 2' ",
 "White shark, 4.3 m [14']",
 "White shark, 4 m to 5 m [13' to 16.5'] ",
 '100-kg [221-lb] dead blue shark',
 'White shark, 2.5 m ',
 "60 cm to 90 cm [2' to 3'] shark",
 "White shark, 3.5 m [11.5']  male ",
 'Thought to involve a Zambesi shark',
 "A 2' shark was seen in the area by witnesses",
 "Thought to involve a 2.7 m [9'], 400-lb bull shark",
 'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  ',
 "Blacktip shark, 2.4 m to 3 m [8' to 10'] ",
 'Shark involvement  not confirmed',
 "Nurse shark, 1.5 m [5']",
 "1.8 m [6'] grey-colored shark",
 "Grey reef shark, 2 m [6.75'] ",
 "Lemon shark, 2.1  m to 2.4 m [7' to 8'] ",
 "Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?",
 "Nurse shark, 1.2 m [4'] ",
 "0.9 m [3'] shark,  probably a blacktip or spinner shark",
 "Bull shark, 2.4 m [8']",
 "Blacktip shark, 1.2 m to 1.8 m [4' to 6'] ",
 'Tiger sharks & bull sharks (20 sharks in all)',
 "Tiger shark, 4 m [13'] ?",
 "2 m to 2.5 m [6.75'  to 8.25'] shark",
 'Shark involvement  questionable',
 "Shortfin mako shark, 3 m to 3.4 m [10' to 11'] ",
 'Miami, a 60 cm blacktip  shark and two 60 cm bamboo catsharks',
 'Hammerhead shark',
 'Sevengill shark',
 'Thought to involve a white, bull or tiger shark',
 'Thought to involve a 1.2 to 1.5 m tubarão da gralha preta -  a blacktip shark, C. limbatus?',
 "White shark, 3 m [10'] ",
 '1.3 to 1.6 m shark',
 "Grey reef shark, 1.2 m [4'] ",
 "Lemon shark, 2.7 m [9'] ",
 "Said to involve a 7 m [23'] white shark",
 "2.7 m [9']  bull shark or Caribbean reef shark",
 "White shark, 3 m to 5 m [10' to 16.5'] ",
 "Bull shark, 2.1 m [7']",
 "Blacktip shark, 1.8 m [6'] ",
 "White shark, 4 m [13'] ",
 'Grey reef shark, 1.5 m ',
 '3 bull sharks',
 "Sevengill shark, 2.4 m [8'] ",
 '200 to 300 kg shark',
 'Mako shark, 1.3 m gaffed ',
 "3.7 m to 4.6 m [12' to 15'] shark seen in the vicinity",
 'Bronze whaler or tiger shark',
 "White shark, 4.6 m [15'] ",
 'Possibly a white shark',
 'A "small shark"',
 "White shark, 5 m  to 6 m [16.5' to 20'] ",
 'Though to involve a white shark',
 "White shark, 5 m to 6 m [16.5' to 20'] ",
 "Dusky shark, 12' ",
 "Caribbean reef shark, 1.2 m to 1.5 m [4' to 5'] ",
 "4.5' to 5' shark",
 'Sandtiger shark, 2 m, male ',
 "White shark, 4.9 m [16']",
 "Raggedtooth shark, 1.2 m [4'] ",
 'Thought to involve a 5.5 m white shark named Kong',
 "3 m to 4 m [10' to 13'] white shark",
 "Lemon shark, 1.5 m [5'], identified  by the surfer",
 "1.8 m [6'] shark, possibly a blacktip",
 "Nurse shark, 0.9 m [3'] ",
 "5' spinner shark",
 '1.7 m shark',
 'Small dusky shark or blackfin shark',
 'sandtiger shark',

In [795]:
sharks_copy['Species'].value_counts().head(50)

White shark                        161
Shark involvement not confirmed     80
Tiger shark                         68
Bull shark                          52
6' shark                            40
4' shark                            39
1.8 m [6'] shark                    35
1.5 m [5'] shark                    32
1.2 m [4'] shark                    27
3' shark                            25
5' shark                            25
4' to 5' shark                      23
3 m [10'] shark                     22
2 m shark                           22
No shark involvement                21
Wobbegong shark                     20
3' to 4' shark                      18
3 m shark                           16
2.4 m [8'] shark                    16
3.7 m [12'] shark                   15
Mako shark                          14
Blacktip shark                      14
12' shark                           14
Blue shark                          14
1.2 m to 1.5 m [4' to 5'] shark     14
7' shark                            14
"a small shark"                     13
10' shark                           13
5 m [16.5'] white shark             13
1.5 m shark                         13
Bronze whaler shark                 12
Raggedtooth shark                   12
6 m [20'] white shark               12
Zambesi shark                       12
4 m [13'] white shark               12
Grey nurse shark                    11
Nurse shark                         11
3 m [10'] white shark                9
White shark, 4 m [13']               9
2.1 m [7'] shark                     9
1 m shark                            9
Hammerhead shark                     8
Unidentified species                 8
a small shark                        8
2' to 3' shark                       8
"small shark"                        8
Basking shark                        7
9' shark                             7
Sandtiger shark                      7
2.5 m shark                          7
Name: Species, dtype: int64

# Investigator or Source

In [796]:
sharks_copy['Investigator_or_Source'].value_counts()

C. Moore, GSAF                                          94
S. Petersohn, GSAF                                      82
C. Creswell, GSAF                                       81
R. Collier                                              54
T. Peake, GSAF                                          48
                                                        ..
WCBV-5, 3/31/206                                         1
H. Greenwood                                             1
T. Blake, M. Levine, GSAF                                1
Sunday Mail, 1/14/1996, p.2; A. MacCormick, pp.95-96     1
West Australian, 1/18/1893                               1
Name: Investigator_or_Source, Length: 4752, dtype: int64

# PDF

# href & href formula

In [797]:
sharks_copy['href'].equals(sharks_copy['href_formula'])

False

In [798]:
hef_matches = sharks_copy[sharks_copy.href != sharks_copy.href_formula]

In [799]:
case_number_matches[['href', 'href_formula']]

,href,href_formula
4,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
33,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
97,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
116,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
121,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
169,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3296,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3569,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3654,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4177,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4719,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5043,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
5150,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

# Case Number 1 & Case Number 2

In [800]:
sharks_copy['Case_Number_1'].equals(sharks_copy['Case_Number_2'])

False

In [801]:
sharks_copy['Case_Number'].equals(sharks_copy['Case_Number_2'])

False

In [802]:
sharks_copy['Case_Number'].equals(sharks_copy['Case_Number_1'])

False

In [803]:
sharks_copy[['Case_Number', 'Case_Number_1', 'Case_Number_2']]

       Case_Number Case_Number_1 Case_Number_2
0     2016.09.18.c  2016.09.18.c  2016.09.18.c
1     2016.09.18.b  2016.09.18.b  2016.09.18.b
2     2016.09.18.a  2016.09.18.a  2016.09.18.a
3       2016.09.17    2016.09.17    2016.09.17
4       2016.09.15    2016.09.16    2016.09.15
...            ...           ...           ...
5987       ND.0005       ND.0005       ND.0005
5988       ND.0004       ND.0004       ND.0004
5989       ND.0003       ND.0003       ND.0003
5990       ND.0002       ND.0002       ND.0002
5991       ND.0001       ND.0001       ND.0001

[5992 rows x 3 columns]

In [804]:
case_number_matches = sharks_copy[sharks_copy.Case_Number != sharks_copy.Case_Number_1]

In [805]:
case_number_matches[['Case_Number', 'Date', 'Case_Number_1', 'Case_Number_2']]

       Case_Number                         Date Case_Number_1 Case_Number_2
4       2016.09.15                    16-Sep-16    2016.09.16    2016.09.15
33    2016.07.14.4                  14-Jul-2016  2016.07.14.R  2016.07.14.4
97    2016.01.24.b                    24-Jan-16  2015.01.24.b  2016.01.24.b
116     2015.12.23                    07-Nov-15    2015.11.07    2015.12.23
121   2015.10.28.a                    28-Oct-15    2015.10.28  2015.10.28.a
169     2015.07-10                    10-Jul-15    2015.07.10    2015.07.10
3296    1967.07.05                    05-Jul-67    1967/07.05    1967.07.05
3569  1962,08.30.b                    30-Aug-62  1962.08.30.b  1962,08.30.b
3654  1961.09.02.R                  06-Sep-1961  1961.09,06.R  1961.09.02.R
4177    1952.08.05                    05-Aug-52    1952.08.04    1952.08.05
4719  1934.01.08.R                  08-Feb-1934  1934.02.08.R  1934.02.08.R
5043  1900.00.00.R  to have taken place in 1919  1919.00.00.R  1900.00.00.R
5150  1911.07.31.R                  31-Jul-1911  1911.07.31.T  1911.07.31.R

In [806]:
for column in sharks_copy[['Case_Number', 'Case_Number_1', 'Case_Number_2']]:
   # Select column contents by column name using [] operator
   columnSeriesObj = sharks_copy[column]
   print('Colunm Name : ', column)
   print('Column Contents : ', columnSeriesObj.values)

Colunm Name :  Case_Number
Column Contents :  ['2016.09.18.c' '2016.09.18.b' '2016.09.18.a' ... 'ND.0003' 'ND.0002'
 'ND.0001']
Colunm Name :  Case_Number_1
Column Contents :  ['2016.09.18.c' '2016.09.18.b' '2016.09.18.a' ... 'ND.0003' 'ND.0002'
 'ND.0001']
Colunm Name :  Case_Number_2
Column Contents :  ['2016.09.18.c' '2016.09.18.b' '2016.09.18.a' ... 'ND.0003' 'ND.0002'
 'ND.0001']

In [808]:
sharks_copy['aretheysame'] = np.where(sharks_copy['Case_Number_1']>=sharks_copy['Case_Number_2'], 'yes', 'no')
(sharks_copy['aretheysame']).count('no')

KeyError: 'Requested level (no) does not match index name (None)'

In [809]:
sharks_copy = sharks_copy.to_csv('GSAF5-cleaned.csv', index=False)